.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}


.landing-splash-section {
  background-image: url("../images/arousal_jag_album_cover.jpg");
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
}

.landing-text {
  background-color: white;
}
.landing-text h1 {
  font-size: 2em;
  padding: 0.1em;
}




.text-section {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-left: 40px;
}

.text-section button {
  background-color: #000; /* Button color */
  color: #fff; /* Text color */
  font-size: 1em; /* Adjust button text size as necessary */
  padding: 10px 20px; /* Button padding */
  border: none; /* No border */
  cursor: pointer; /* Cursor to indicate the button is clickable */
  margin-top: 20px; /* Space above the button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.image-section {
  flex: 2;
  text-align: right;
}

.brand-icon {
  font-size: 2em;
  margin: 0 20px; /* Increase spacing between icons */
}

.header-icons {
  justify-content: flex-start;
}

.footer-icons {
  justify-content: flex-end;
}
